<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
	    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js%22%3E"></script>

        <!-- Style Sheet -->
	    <link rel="stylesheet" type="text/css" href="/css/styles.css">
	
	    <script src="/js/genCalendar.js"></script>

	    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
	    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-analytics.js%22%3E"></script>

	    <!-- Google's jquery CDN -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	
	    <script src="/js/configureFirebase.js"></script>
      
        <title>PandaCore</title>
        <meta charset="UTF-8">
    </head>
    <body>
        {{{body}}}
        <a href="/" title="Home">Home</a>
        <a href="/proposal" title="Proposal">Proposal</a>
    </body>
</html>