<body>
	<div class="calendar" id="calendar">
		<div class="calendar-btn month-btn" onclick="$('#months').toggle('fast')">
			<span id="curMonth"></span>
			<div id="months" class="months dropdown"></div>
		</div>

		<div class="calendar-btn year-btn" onclick="$('#years').toggle('fast')">
			<span id="curYear"></span>
			<div id="years" class="years dropdown"></div>
		</div>

		<div class="clear"></div>


        <div id="selectedDay" class="days">
			<div id = "dayNumber">Today's events</div>
			<div class="event">
				<p>Event time:</p>
				<p> </p>
				<p>Event Details:</p>
				<p> </p>
			</div>
		</div>	
	</div>
</body>