<head>
</head>
<body>

<h1>Final Project Proposal</h1>
<p>RedPandas</p><br><br>
<p>Last updated sprint 5, 3/23/2021</p><br><br>
<p>Users can schedule out their days and see a monthly, weekly, or daily view and get reminders for activities they have going on</p><br><br>

<p>Priority</p>
<ul>
    <li> We will have a calendar of events listed and the user will be able to change views to see a daily, weekly, or monthly view</li>
    <li> We will have the option for events to be set up with a reminder feature</li>
    <li> We will have user accounts that allow users to sign in and see their information</li>
</ul><br><br>
<p>Additional</p>
<ul>
    <li>Changing themes</li>
    <li>Different types of reminders</li>
    <li>Group invites </li>
    <li>Import and export feature for the calendar</li>
</ul>
<br><br>
<p>HTML, CSS, JS. Firebase Azure</p><br><br>
<p>Hosting with Node.js and express</p><br><br>
<p>Email reminders, authentication, databases</p>
</body>