<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, 
		initial-scale=1.0">
		<script src="BMIcalc.js"></script>
		<!-- Style Sheet -->
		<link rel="stylesheet" type="text/css" href="formatting.css">
		
		<title> PandaCore </title>
	</head>
	
	<body>
		<h1> Coming Soon </h1>
	</body>