<body>    
    <h1 class="heading">PandaCore Login</h1>
    <div class="input"> 
        <input type="email" id="email" name="email" placeholder="email">
        <input type="password" id="pass" name="pass" placeholder="password"><br>
    </div>
    <div id="login" class="buttons">
        <button onClick="signup()"> sign up </button>
        <button onClick="signin()"> sign in </button>
        <button onClick="signout()"> sign out </button>
    </div>
    <div class="redpanda">
         <img src="/img/RedPanders.png" alt="panda" width="150" height="200" > 
    </div>
</body>