<!DOCTYPE html>
<html>
<head>
<title>Pandacore</title>
</head>
<body>

<h1>Final Project Proposal</h1>
<p>RedPandas</p><br><br>
<p>Last updated sprint 5 3/23/2021</p><br><br>
<p>users can schedule out their days and see a monthly daily and get reminders for acticities they have going on</p><br><br>

<p>Priority</p>
<ul>
    <li>a.    We will have a calendar of events listed and the user will be able to change views to see a daily, weekly, or monthly view</li>
    <li>b.    We will have the option for events to be set up with a reminder feature</li>
    <li>c.    we will have user accounts that allow users to sign in and see their information</li>
</ul><br><br>
<p>Additional</p>
<ul>
    <li>changing themes</li>
    <li>Different types of reminders</li>
    <li>group invites </li>
    <li>import and export feature for the calendar</li>
</ul>
<br><br>
<p>HTML, CSS, JS. Firebase Azure</p><br><br>
<p>Hosting with Node.js and express</p><br><br>
<p>Email reminders, Authentication, databases</p>
</body>
</html> 